body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #5a0000;
    color: white;
    text-align: center;
    padding: 20px 0;
}


nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


main {
    padding: 20px;
}

.study-plan {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin: 0 10px;
}

.column h3 {
    background-color: #5a0000;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


.add-item {
    background-color: #5a0000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.add-item:hover {
    background-color: #5a0000;
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}